*{
	padding: 0;
	margin: 0;
}
/*-----Navigation-----*/
#nav-bar{
	position: sticky;
	top: 0;
	z-index: 10;
}
.navbar-brand img {
	height: 80px;
	padding-left: 30px;
}
.navabr-nav li{
	padding: 0 10px;
}
.navabr-nav li{
	float: right;
	text-align: left;
}
#nav-bar ul li a:hover{
	color: #007bff !important;
}
.navbar{
	background: #3F3F3F;
}
.navbar-toggler{
	border: none !important;
}
.nav-link{
	color: #3F3F3F !important;
	font-weight: 600;
	font-size: 24px;
	background-color: #00FF75;
	border-radius: 0.60em;
	margin: 1em;
	text-align: center;
}
/*------inicio----*/
#inicio{
	background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)),url("src/map-home.jpg");
	position: relative;
    top: 0;
    left: 0;
	width: 100%;
	text-align: center;
}
.img-bg{
    position: relative;
    top: 0;
    left: 0;
}
.img-front{
	position: absolute;
    top: 20%;
    left: 10%;
}
.descarga{
	position: absolute;
	top: 10%;
    left: 40%;
	background-color: rgba(63,63,63,0.90);
	padding: 50px 50px;
	border-radius: 5%;
}
.download-text{
	font-size: 46px;
	color: #FFF;
}
#download-price{
	font-size: 58px;
	font-weight: bolder;
}
#download-price span{
	font-size: 36px;
}
#download-playstore{
	height: 10em;
}
#download-appstore{
	height: 10em;
	top: 10em;
}
/*------caracteristicas-----------*/
#services{
    background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)),url("src/service-bg.jpg");
    background-size: cover;
    background-position: center;
    color: #efefef !important;
    background-attachment: fixed;
    padding-top: 50px;
    padding-bottom: 50px;
}
#services h1{
    text-align: center;
    color: #efefef !important;
    padding-bottom: 10px;
}
#services h1::after{
    content: '';
    background: #efefef;
    display: block;
    height: 3px;
    width: 170px;
    margin: 20px auto 5px;
}
.services{
    margin-top: 40px;
}
.icon{
    font-size: 40px;
    margin: 20px auto;
    padding: 20px;
    height: 80px;
    width: 80px;
    border: 1px solid #fff;
    border-radius: 50%;
}
#services p{
    font-size: 14px;
    margin-top: 20px;
    color: #ccc;
}
.services .col-md-3:hover{
    background: #007bff;
    cursor: pointer;
    transition: 0.7s;
}

/*------------Price plan-------*/
#price{
    padding: 40px 0;
    background-color: #efefef;
}
.single-price{
    margin: 10px auto;
    display: inline;
    float: left;
    width: 100%;
    background-color: #fff;
    transition: 0.5s;
}
.single-price:hover{
    box-shadow: 0 2px 20px #333;
}
.price-head{
    background-color: #3F3F3F;
    display: inline;
    float: left;
    padding: 10px 5px;
    text-align: center;
    width: 100%;
}
.price-head h2{
    color: #fff;
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 5px;
    padding:5px;
}
.price-head p{
    font-size: 25px;
    color: #ccc;
    font-weight: bold;
    line-height: 30px;
}
#price span{
    font-size: 15px;
}
.price-content{
    display: inline;
    float: left;
    width: 100%;
    padding: 0 15px;
}
.price-content ul li{
    border-bottom: 1px solid #efefef;
    padding: 15px 10px;
    list-style: none;
}
ul li:last-child{
    border: none;
}
.fa-check-circle{
    color: green;
    margin-right: 10px;
    font-size: 20px;
}
.fa-times-circle{
    color: red;
    margin-right: 10px;
    font-size: 20px;
}
.price-button{
    display: inline;
    float: left;
    padding: 15px 15px 30px;
    text-align: center;;
    width: 100%;
}
.buy-btn{
    background-color: #3F3F3F;
    border-radius: 3px;
    display: inline-block;
    font-size: 18px;
    padding: 15px 50px;
    transition: 0.5s;
}
.buy-btn:hover{
    border-color: 1px solid #fff;
    background-color: #3f51b5;
}
a{
    text-decoration: none!important;
    color: #fff!important;
}
/*------about------*/
.about{
	padding-top: 50px;
	padding-bottom: 50px;
	color: #555;
}
#about .btn{
	margin-top: 20px;
	margin-bottom: 30px;
}
.about-container{
	padding-top: 20px;
}
#about h2{
	padding-top: 20px;
}
#about-img{
	position: absolute;
	left: 145%;
	top: 50px;
	height: 70%;
}
/*--------Contacto---------*/
#contact{
    background:#efefef;
    padding-top: 40px;
    padding-bottom: 40px;
    color: #777;
}
.contact-form{
    padding: 15px;
}
.form-control{
    border-radius: 0 !important;
    border: none !important;
}
::placeholder{
    color: #999 !important;
}
.follow{
    background: #fff;
    padding: 10px;
    margin: 15px;
}
.contact-info .fa{
    margin: 10px;
    color: #00d865;
    font-weight: bold;
}
#contact-enviar{
    color: #333 !important;
    background-color: #00FF75;
    border: #333;
}
/*------------footer-------------*/
#footer{
    background: #333;
    color: #fff;
    padding: 12px;
}
.fa-heart-o{
    margin: 3px;
    color: red;
}